/*
 *  Global variables
 */
$icon-font-path:       "fonts/bootstrap/";


/*
 *  Layout
 */
$container-width:      970px;


/*
 *  Colors
 */
$bg-color:             #ffffff;
$text-color:           #555555;
$header-color:         #333333;
$navbar-bg-color:      #428bca;
$navbar-text-color:    #cdddeb;
$navbar-hilite-color:  #ffffff;
$meta-text-color:      #999999;
$sidebar-accent-color: #c5c5c5;
$sidebar-bg-color:     #f5f5f5;
$footer-bg-color:      #f9f9f9;
$footer-text-color:    #999999;
$footer-border-color:  #e5e5e5;


/*
 *  Fonts
 */
$serif:                Georgia, "Times New Roman", Times, serif;
$sans:                 "Helvetica Neue", Helvetica, Arial, sans-serif;
