{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>

  <div class="blog-masthead">
    <div class="container">
      <nav class="blog-nav">
	{% include navigation.html %}
      </nav>
    </div>
  </div>

  <div class="container">
    <header role="banner" class="blog-header">
      {% include header.html %}
    </header>

    <section id="main" class="row">
      {{ content | expand_urls: root_url }}
    </section>
  </div>

  {% unless page.footer == false %}
  <footer role="contentinfo" class="blog-footer">
    {% include footer.html %}
  </footer>
  {% endunless %}

  {% include after_footer.html %}
</body>
</html>
